---
- name: Configuring sshd
  template:
    src: etc/ssh/sshd_config.j2
    dest: /etc/ssh/sshd_config
    backup: true
    owner: root
    group: "{{ sshd_config_group | default('root') }}"
    mode: "0644"
  notify: restart ssh
